nextflow.enable.dsl = 2

manifest {
  description = 'Creating a GO database for a model organism' 
  author = 'Chris Wyatt'
}

process {
  shell = ['/bin/bash','-e']
  withName: "ORTHOFINDER" {
    cpus = 1
    process.container = 'davidemms/orthofinder:2.5.4'
  }
  withName: "GET_DATA" {
    cpus = 1
    process.container = 'chriswyatt/goatee_biomart'
  }
}

docker.enabled = true