process {
  shell = ['/bin/bash','-e']
  withName: "ORTHOFINDER" {
    cpus = 1
    container = 'davidemms/orthofinder:2.5.4'
  }
  withName: "GET_DATA" {
    cpus = 1
    container = 'chriswyatt/goatee_biomart'
  }
  withName: "GO_ASSIGN" {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
    container = 'chriswyatt/chopgo'
  }
  withName: "GO_EXPANSION" {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
    container = 'chriswyatt/chopgo'
  }
  withLabel: 'longest' {
    cpus = 1
  }

  withLabel: 'gffread' {
    cpus = 1
  }

  withLabel: 'download' {
    cpus = 1
  }
}


docker.enabled = true
