process {
  singularity.enabled = true
  singularity.autoMounts = true
  shell = ['/bin/bash','-e']
  executor = 'sge'
  penv = 'smp'
  withName: "ORTHOFINDER" {
    cpus = 8
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    container = 'davidemms/orthofinder:2.5.4'
  }
  withName: "GET_DATA" {
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    container = 'chriswyatt/goatee_biomart'
  }
}

singularity.enabled = true
singularity.autoMounts = true
